body{
    background-color: #ffffff;

}
ul {
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    margin: 0;
    padding: 0;
    background-color: #d8d5d5e4;
}
li {
    
    display: flex;
}

li a {
   
  display: block;
  color: rgb(20, 20, 20);
  text-align: center;
  padding: 20px 16px;
  /*text-decoration: none;*/
}

li a:hover {
  background-color: #5c5a5a;
}
.search-form {
  
    display: flex;
    align-items: center;
    padding: 20px 16px;

}